[Unit]
Description=u-blox initialisation
Before=gpsd.service
Before=ntp.service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
Environment="PARAMS=-q -a -B 115200 --configure_for_timing"
EnvironmentFile=-/etc/default/gpsctl
ExecStart=/bin/bash -c '/usr/local/bin/gpsctl ${PARAMS}'


[Install]
WantedBy=multi-user.target
